body {
  background-color: bisque;
  box-sizing: border-box;
}

.container {
  width: 75vw !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: unset !important;
}
.card {
  width: 500px;
  justify-content: space-between;
  margin: 3%;
  box-sizing: border-box;
}
.card-body {
  box-sizing: border-box;
  flex-direction: column;
  flex: none;
}
.card-img-top {
  object-fit: contain;
  width: 498px;
  height: 332px;
}
